h1{
    font-size: 50px;
    text-align: center;
    color: white
    
}
header{
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQudb7UodMuvJcGjOXNGLxY1wI8ZCva2oALJg&s);
    border: 1px solid #ccc;
    background-size: cover;
    background-repeat: no-repeat;
    
}   

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    
    li{
        color:red;
    }
    
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center; /* căn giữa theo chiều dọc */
    height: 100vh; /* chiều cao 100% của viewport */
}
table {
    width: 80%; /* chiều rộng của bảng */
    border-collapse: collapse;
    background-color:antiquewhite
    
    
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
table button {
    width: 100px;
    height: 50px;
    border-radius: 5px;
}
footer{
 background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQudb7UodMuvJcGjOXNGLxY1wI8ZCva2oALJg&s););
    text-align: center;
    padding: 20px;
    width: 100%;
    
}
p{
    color: red;
}
h2{
    color:darkorange
}
.center{
    margin-left: auto;
    margin-right: auto;
}